apiVersion: openchoreo.dev/v1alpha1
kind: ComponentWorkflowRun
metadata:
  name: collab-svc-build-01
  namespace: default
spec:
  owner:
    projectName: doclet
    componentName: collab-svc

  workflow:
    name: docker-gitops-release
    systemParameters:
      repository:
        url: "https://github.com/VajiraPrabuddhaka/doclet-app.git"
        revision:
          branch: "main"
        appPath: "/"
    parameters:
      docker:
        context: "/"
        filePath: "/services/collab/Dockerfile"
      gitops:
        repositoryUrl: "https://github.com/VajiraPrabuddhaka/openchoreo-sample-gitops"
        branch: "main"
        targetEnvironment: "development"
        deploymentPipeline: "default"
      workloadDescriptorPath: "workload.yaml"
