apiVersion: openchoreo.dev/v1alpha1
kind: ComponentWorkflowRun
metadata:
  name: document-svc-build-01
  namespace: default
spec:
  owner:
    projectName: doclet
    componentName: document-svc

  workflow:
    name: docker
    systemParameters:
      repository:
        url: "https://github.com/VajiraPrabuddhaka/doclet.git"
        secretRef: "github-token"
        revision:
          branch: "main"
        appPath: "/"
    parameters:
      docker:
        context: "/"
        filePath: "/services/document/Dockerfile"
