apiVersion: openchoreo.dev/v1alpha1
kind: ComponentWorkflowRun
metadata:
  name: document-svc-build-01
  namespace: default
spec:
  owner:
    projectName: doclet
    componentName: document-svc

  workflow:
    name: docker-gitops-release
    systemParameters:
      repository:
        url: "https://github.com/VajiraPrabuddhaka/doclet-app.git"
        revision:
          branch: "main"
        appPath: "/"
    parameters:
      docker:
        context: "/"
        filePath: "/services/document/Dockerfile"
      gitops:
        repositoryUrl: "https://github.com/VajiraPrabuddhaka/openchoreo-sample-gitops"
        branch: "main"
        targetEnvironment: "development"
        deploymentPipeline: "standard"
      workloadDescriptorPath: "workload.yaml"
